/* Default CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  position: relative;
  overflow-x: hidden;
  font-weight: 400;
  background-color: #121212 !important;
  color: #fff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.App {
  text-align: center;
}
.logo {
  color: #fff;
  text-decoration: none;
}
nav.navbar {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}
nav.navbar .container {
  display: flex;
}
nav.navbar .navbar-brand {
  color: #fff;
  text-decoration: none;
}
nav.navbar .container .collapse .nav-link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .container .collapse .nav-link:hover {
  opacity: 1;
}
.collapse{
  display: flex;
}
.vvd {
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  padding: 18px 34px;
  background-color: transparent;
  position: relative;
}
.navbar-social-icons{
  display: flex;
}
